:root {
  --creativeWidth: 320px;
  --creativeHeight: 240px;
}

body,
body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

#fallback {
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-image: url("fallback.png");
  position: absolute;
  background-size: 100%;
  top: 0;
  left: 0;
}

#creative_container {
  position: absolute;
  width: var(--creativeWidth);
  height: var(--creativeHeight);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  overflow: hidden;
  border: 2px solid red;
}

/* #creative_container #cube {
  width: var(--creativeWidth);
  height: var(--creativeHeight);
}

#creative_container #draggable {
  position: absolute;
  width: var(--creativeWidth);
  height: var(--creativeHeight);
  top: 0px;
  left: 0px;
} */

#creative_container .cube_controls {
  display: none;
  position: absolute;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  pointer-events: none;
}

#creative_container .cube_controls #prev,
#creative_container .cube_controls #next {
  --arrowMargin: 10px;
  top: calc(var(--creativeHeight) / 2 - var(--arrowMargin));
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-radius: 2px;
  border-top: none;
  border-right: none;
  margin: var(--arrowMargin);
  pointer-events: all;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: -webkit-filter 0.25s ease-in-out;
  transition: -webkit-filter 0.25s ease-in-out;
  -o-transition: filter 0.25s ease-in-out;
  transition: filter 0.25s ease-in-out;
  transition: filter 0.25s ease-in-out, -webkit-filter 0.25s ease-in-out;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
  -webkit-filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
}

#creative_container .cube_controls #prev:hover {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.95));
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.95));
}

#creative_container .cube_controls #next {
  right: 0px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
  -webkit-filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
}

#creative_container .cube_controls #next:hover {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.95));
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.95));
}

#creative_container .cube_controls.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  width: auto;
  height: var(--creativeHeight);
  left: 50%;
  top: 0px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#creative_container .cube_controls.vertical #next {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#creative_container .cube_controls.vertical #prev {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

#creative_container .cube_controls #prev:after,
#creative_container .cube_controls #next:after {
  content: "";
  position: absolute;
  width: 100%;
  offset: 2px;
  height: 100%;
  -webkit-transform: scale(2.5);
  -ms-transform: scale(2.5);
  transform: scale(2.5);
}

.cubeContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 240px;
  /* perspective: 1000px; */
  user-select: none;
  -webkit-user-drag: auto !important;
}

#touchElement {
  position: absolute;
  top: 0px;
  height: 240px;
  width: 320px;
  left: 0px;
}

#cubeContainer1 {
  display: none;
}

#cubeContainer2,
#cubeContainer3 {
  /* display: none; */
  /* transform: scale(0.25); */
  position: absolute;
  /* left: -80px; */
}

#cubeContainer3 {
  display: none;
  left: 0px;
}

.face {
  border: 1px solid #666;
  box-sizing: content-box;
  cursor: default;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: visible;
  outline: 1px solid transparent;
  line-height: 250px;
  text-align: center;
  font-size: 30px;
}
